.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }
  
  .content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  b.header{
      text-align: center;
  }