@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* fonts and text */

body{
    font-family: 'Lato', sans-serif; 
}
/* p */
p{
    margin: 5px 20px;
    font-size: 20px;
}

p.dotted{
  margin: 5px 20px;
  font-size: 20px;
  border-style: dotted;
}

p.dashed{
  margin: 5px 20px;
  font-size: 20px;
  border-style: dashed;
}

p.solid {
  margin: 5px 20px;
  font-size: 20px;
  border-style: solid;
}

p.doubled {
  margin: 5px 20px;
  font-size: 20px;
  border-style: double;
}

p.groove {
  margin: 5px 20px;
  font-size: 20px;
  border-style: groove;
}

p.ridge {
  margin: 5px 20px;
  font-size: 20px;
  border-style: ridge;
}

p.inset {
  margin: 5px 20px;
  font-size: 20px;
  border-style: inset;
}

p.outset {
  margin: 5px 20px;
  font-size: 20px;
  border-style: outset;
}

p.none {
  margin: 5px 20px;
  font-size: 20px;
  border-style: none;
}

p.hidden {
  margin: 5px 20px;
  font-size: 20px;
  border-style: hidden;
}

p.mix {
  margin: 5px 20px;
  font-size: 20px;
  border-style: dotted dashed solid double;
}

p.custom{
  margin: 5px 20px;
  font-size: 20px;
  /*border-style: solid;
  border-width: 0px 0px 0px 5px; /*0px top 0px right 0px bottom 5px left*/
  border-left: 5px solid red;
  background-color: #ff74741f;
}

/*-----*/

button.darkmode{
  border-radius: 4px;
  background-color: #ff0000;
  color: rgb(247, 247, 247);
  padding: 5px 12px;
  border-color: rgb(255, 98, 98);
  font-family: 'Lato', sans-serif; 
}

a.link{
  color: rgba(255, 0, 0, 0.781);
}

q{
  font-size: 20px;
  color:rgb(189, 132, 140);
  background-color: rgba(252, 188, 197, 0.219);
}

blockquote{
  margin: 5px 20px;
  font-size: 20px;
  color:rgb(189, 132, 140);
  /*border-style: solid;
  border-width: 0px 0px 0px 5px; /*0px top 0px right 0px bottom 5px left*/
  border-left: 5px solid red;
  background-color: #ff74741f;
}

.alert{
  font-size:50px;
  color: rgba(255, 0, 0, 0.747);
  text-align: center;
}

b{
    margin: 5px 20px;
    font-size: 35px;
    color: rgba(252, 107, 129, 0.747);
}

code{
  margin: 5px 20px;
  font-size: 20px;
  border-left: 5px solid rgb(0, 132, 255);
  background-color: rgb(0, 0, 0);
  color:white;
}

code:before{
  content: "‎‏‏‎ ‎";
}

code.ssh{
  margin: 5px 20px;
  font-size: 20px;
  border-left: 5px solid rgb(0, 17, 255);
  background-color: rgb(0, 0, 0);
  color:rgb(240, 240, 240);
}

code.ssh:before{
  color:rgb(240, 240, 240);
  content: "‎‏‏‎$ ‎";
}


i{
  font-size: 20px;
  color: #00000080;
}


/* video and images*/

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
  margin: 50px;
}

/* fonts and text dark theme */

body{
  font-family: 'Lato', sans-serif; 
}

.darkmode{
  background-color: rgb(9, 8, 19);
  color: white;
}

/* header */

dl a{
    margin: 5px 20px;
    font-size: 15px;
    color: rgb(255, 131, 150);
    background-color: rgba(255, 160, 122, 0.151);
}
dt{
    margin: 5px 20px;
    font-size: 20px;
    color: rgb(255, 160, 122);
    background-color: rgba(252, 188, 197, 0.219);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  nav {
    background: rgba(255, 232, 232, 0.932);
    height: 80px;
    width: 100%;
  }
  
  nav label.logo {
    -webkit-transition: .5s;
    transition: .5s;
    color: red;
    font-size: 35px;
    line-height: 80px;
    margin-left: 25px;
    font-weight: 700;
  }

  @media screen and (min-width: 601px) {
    nav label.logo {
      -webkit-transition: .5s;
      transition: .5s;
      color: red;
      font-size: 35px;
      line-height: 80px;
      margin-left: 25px;
      font-weight: 700;
    }
  }

  @media screen and (max-width: 600px) {
    nav label.logo {
      -webkit-transition: .5s;
      transition: .5s;
      color: red;
      font-size: 8vw;
      line-height: 80px;
      margin-left: 25px;
      font-weight: 700;
    }
  }


  nav ul {
    float: right;
    margin-right: 40px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    -webkit-transition: .5s;
    transition: .5s;
    color: #ff7474;
    font-size: 17px;
    font-weight: 800;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  nav ul li a.active, nav ul li a:hover {
    background: #ff0c04;
    color: white;
  }
  
  nav .checkbtn {
    font-size: 24px;
    color: red;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  nav #check {
    display: none;
  }

  @media (max-width: 1150px) {
    nav .checkbtn {
      display: block;
    }
    nav ul {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: white;
      color: white;
      top: 80px;
      left: 100%;
      text-align: center;
      -webkit-transition: all .5s;
      transition: all .5s;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    nav ul li a.active, nav ul li a:hover {
      background: none;
      color: red;
    }
    nav #check:checked ~ ul {
      left: 0;
    }
  }
