body
{
    font-family: papyrus;
    color: white;
    background-color: black;
    text-align: center;
}
h1
{
    margin-top: 25%;
}

button
{
    margin-top: 25%;
    font-family: papyrus;
    color: white;
    background-color: black;
    text-align: center;
}