/* dark mode */

.darkmode
{
    background-color: #352F44;
    color: #FAF0E6;
}

button.darkmode
{
    border-radius: 4px;
    background-color: #333341;
    color: rgb(247, 247, 247);
    padding: 5px 12px;
    border-color: rgb(0, 0, 0);
    font-family: Consolas, monaco, monospace;
}

.darkmode i
{
color: #a37171;
}