@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import "darkmode.css";


html { scroll-behavior: smooth; }
*{
    margin: 0;
    padding: 0;
}

/* fonts and text */





body{
    font-family: 'Lato', sans-serif; 
}

p{
    margin: 5px 20px;
    font-size: 20px;
}

q{
  font-size: 20px;
  color:rgb(189, 132, 140);
  background-color: rgba(252, 188, 197, 0.219);
}

li.steps{
  margin: 5px 80px;
  font-size:25px;
  color: rgba(255, 0, 0, 0.747);
}

blockquote{
  margin: 5px 20px;
  font-size: 20px;
  color:ghostwhite;
  /*border-style: solid;
  border-width: 0px 0px 0px 5px; /*0px top 0px right 0px bottom 5px left*/
  border-left: 5px solid red;
  background-color: #ff74741f;
}

blockquote::before{
  content: "‎‏‏‎ ‎";
}

.alert{
  font-size:50px;
  color: rgba(255, 0, 0, 0.747);
  text-align: center;
}

b{
    margin: 5px 20px;
    font-size: 35px;
    color: rgba(252, 107, 129, 0.747);
}

b.tbc{
  margin: 5px 20px;
  font-size: 35px;
  color: rgba(255, 70, 97, 0.747);
}


a.link{
  color: rgba(255, 0, 0, 0.781);
  display: block;
  margin: 5px 20px;
  font-size: 20px;
  text-decoration: none;
}

a.link:hover
{
  color: rgb(190, 2, 2);
  text-decoration: underline;
}

a.tbc{
  margin: 5px 20px;
  font-size: 30px;
  color: rgba(230, 105, 124, 0.747);
}

p.note{
  color: #ff74749a;
  font-size: 15px;
}

p.note:before{
  content: "Note:";
}

p.small{
  font-size: 15px;
}

i{
  font-size: 20px;
  color: #00000080;
}




/* video and images*/

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

video.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
  margin: 50px;
}

/* code */
code:not(.raspberry2){
  /*margin: 5px 20px;
  font-size: 20px;
  border-left: 5px solid rgb(0, 132, 255);
  background-color: rgb(0, 0, 0);
  color:white;*/
  margin: 5px 20px;
  font-size: 20px;
  border-left: 0px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: white;
}

code:not(.raspberry2):before{
  content: "‎‏‏‎ ‎";
}



code.ssh{
  margin: 5px 20px;
  font-size: 20px;
  border-left: 5px solid rgb(0, 17, 255);
  background-color: rgb(0, 0, 0);
  color:rgb(240, 240, 240);
}

code.ssh:before{
  color:rgb(240, 240, 240);
  content: "‎‏‏‎$ ‎";
}
code.raspberry:before{
  color: rgb(1, 255, 1);
  content: "pi@pi:";
}

code.raspberry2:before{
  color: rgb(0, 81, 255);
  content: "~ $";
}

/* header */

dl a{
    margin: 5px 20px;
    font-size: 15px;
    color: rgb(171, 126, 255);
    background-color: rgba(255, 160, 122, 0.151);
}
dt{
    margin: 5px 20px;
    font-size: 20px;
    color: rgb(171, 126, 255);
    background-color: rgba(252, 188, 197, 0.219);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  nav {
    background: rgba(171, 126, 255, 0.932);
    height: 80px;
    width: 100%;
  }
  
  nav label.logo {
    -webkit-transition: .5s;
    transition: .5s;
    color: rgb(255, 255, 255);
    font-size: 35px;
    line-height: 80px;
    margin-left: 25px;
    font-weight: 700;
  }

  @media screen and (min-width: 601px) {
    nav label.logo {
      -webkit-transition: .5s;
      transition: .5s;
      color: rgb(255, 255, 255);
      font-size: 35px;
      line-height: 80px;
      margin-left: 25px;
      font-weight: 700;
    }
  }

  @media screen and (max-width: 600px) {
    nav label.logo {
      -webkit-transition: .5s;
      transition: .5s;
      color: rgb(255, 255, 255);
      font-size: 8vw;
      line-height: 80px;
      margin-left: 25px;
      font-weight: 700;
    }
    img{
      margin: 5px;
      height: 100%;
      width: 100%;
    }
    code{
      margin: 1px;
      font-size: 15px;
    }
    code.ssh{
      margin: 1px;
      font-size: 15px;
    }
    code.raspberry{
      margin: 1px;
      font-size: 15px;
    }
  }




  nav ul {
    float: right;
    margin-right: 40px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    -webkit-transition: .5s;
    transition: .5s;
    color: lavender;
    font-size: 17px;
    font-weight: 800;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  nav ul li a.active, nav ul li a:hover {
    background: black;
    color: white;
  }
  
  nav .checkbtn {
    font-size: 24px;
    color: red;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  nav #check {
    display: none;
  }

  @media (max-width: 1150px) {
    nav .checkbtn {
      display: block;
    }
    nav ul {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: white;
      color: white;
      top: 80px;
      left: 100%;
      text-align: center;
      -webkit-transition: all .5s;
      transition: all .5s;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    nav ul li a.active, nav ul li a:hover {
      background: none;
      color: rgb(111, 0, 255);
    }
    nav #check:checked ~ ul {
      left: 0;
    }
  }

@media (max-width: 375px) {
  nav .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: white;
    color: white;
    top: 80px;
    left: 100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 25px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a.active, nav ul li a:hover {
    background: none;
    color: rgb(111, 0, 255);
  }
  nav #check:checked ~ ul {
    left: 0;
  }
  b{
    font-size: 30px;
  }
  b.tbc{
    font-size: 30px;
  }
}


figcaption{
  color: lavender;
  margin-left: 5px;
}

figcaption:hover{
  color: rgb(175, 175, 255);
}
